* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    width: 99.2vw;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sheetContainer {
    position: relative;
    margin-top: 20px;
    height: 1123px;
    width: 794px;
    background-color: #fff;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
}

.mainFrame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.secretariatLogo {
    position: absolute;
    width: 268.34px;
    top: 75.21px;
    left: 261.16px;
    z-index: 2;
}

.registrationInformation {
    position: absolute;
    width: 100%;
    font-weight: bold;
    top: 217.70px;
    left: 79.37px;
}

.registrationInformation span {
    display: block;
}

#registrationInformationDatetime {
    position: absolute;
    top: 280.06px;
    right: 79.37px;
    font-weight: bold;
}

.greetingToTheAforementionedAuthority {
    position: absolute;
    top: 341.66px;
    left: 79.37px;
}

.mainTextIntrodution {
    position: absolute;
    top: 419.52px;
    left: 128.88px;
}

.mainText {
    position: absolute;
    width: 168mm;
    top: 120.5mm;
    left: 79.37px;
}

.mainText p {
    margin-bottom: 6.7mm;
    text-align: justify;
}

.procedureLastDetails {
    position: absolute;
    font-weight: bold;
    top: 235.1mm;
    left: 79.37px;
}

.procedureLastDetails span {
    display: block;
}

.applicantSignature {
    position: absolute;
    top: 259.9mm;
    left: 50%;
    transform: translateX(-50%);
}

#signatureLine {
    height: 1px;
    width: 84mm;
    background-color: #000;
}

.applicantSignature span {
    display: block;
    text-align: center;
    font-weight:bold;
}
