* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    background-color: #000;
    /* display: flex;
    justify-content: flex-end;
    align-items: baseline; */
}

#editorContainer {
    position: fixed;
    top: 5px;
    right: 5px;
    height: 98.5vh;
    width: 40vw;
    border-radius: 12px;
    background-color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#editorContainer input {
    display: block;
}

#editorContainer textarea {
    width: 80%;
    resize: none;
    padding: 5px;
}

#mainContentInput {
    height: 40%;
}

#applicantNameInput, #cpfInput {
    width: 80%;
    padding: 5px;
}

#generatePDFButton {
    cursor: pointer;
    height: 50px;
    width: 180px;
    border-radius: 8px;
    background-color: #6d993e;
    border: none;
    color: #ffffff;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: bold;
}

/* ######################################################### */

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }

  .pagina-a4 {
    width: 210mm;
    height: 297mm;
    page-break-after: always;
  }
}

@media (max-width: 768px) {
    #editorContainer {
        position: relative;
        width: 90vw;
    }

    #mainContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.sheetContainer {
    position: relative;
    height: 297mm;
    width: 210mm;
    background-color: #ffffff;
    border: #6d993e solid 3px;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
}

.mainFrame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.secretariatLogo {
    position: absolute;
    width: 268.34px;
    top: 75.21px;
    left: 261.16px;
    z-index: 2;
}

#watermarkLogo {
    position: absolute;
    top: 0;
    left: 0;
}

.registrationInformation {
    position: absolute;
    width: 100%;
    font-weight: bold;
    top: 217.70px;
    left: 79.37px;
}

.registrationInformation span {
    display: block;
}

#registrationInformationDatetime {
    position: absolute;
    top: 260.06px;
    right: 79.37px;
    font-weight: bold;
}

#greetingToTheAforementionedAuthority {
    position: absolute;
    top: 321.66px;
    left: 79.37px;
}

/* .mainTextIntrodution {
    position: absolute;
    top: 389.52px;
    left: 128.88px;
} */

#mainText {
    position: absolute;
    width: 168mm;
    top: 389.52px;
    /* top: 115.5mm; */
    left: 79.37px;
    text-align: justify;
}

.procedureLastDetails {
    position: absolute;
    font-weight: bold;
    top: 235.1mm;
    left: 79.37px;
}

.procedureLastDetails span {
    display: block;
}

.applicantSignature {
    position: absolute;
    top: 259.9mm;
    left: 50%;
    transform: translateX(-50%);
}

#signatureLine {
    height: 1px;
    width: 84mm;
    background-color: #000;
}

.applicantSignature span {
    display: block;
    text-align: center;
    font-size: 11px;
}

.applicantSignature span:first-of-type {
    display: block;
    text-align: center;
    font-weight:bold;
    font-size: 14px;
}
